# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    services:
      postgres:
        image: postgres:18.1-alpine3.22
        env:
          POSTGRES_USER: fleet
          POSTGRES_PASSWORD: fleet_password
          POSTGRES_DB: fleet_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run db:push
        env:
          POSTGRES_USER: fleet
          POSTGRES_PASSWORD: fleet_password
          POSTGRES_DB: fleet_db
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
      - run: npm run test:algo
      - run: npm run test:fleet:all
        env:
          POSTGRES_USER: fleet
          POSTGRES_PASSWORD: fleet_password
          POSTGRES_DB: fleet_db
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
      - run: npm run build:fleet
